@import "../constants/variable.scss";
@import "../constants/mixins.scss";

body {
  font-family: arial,sans-serif;
}

.form-group{ position: relative; margin-top: 25px; padding: 0;}
.form-control{height: 40px}
.form-control:focus{box-shadow: none; border-style: solid;
  border-color: blue;
  border-width: 2px;}

label{
  position: absolute;
  left: 7px;
  top: 7px;
  transition: all 0.3s;
  background-color: white;
  color: #999;
  font-weight: normal;
}

.form-control:focus ~ label{
  left: 8px; 
  top: -10px;
  color: blue; 
  background: #fff;
  padding:0 5px;
  border-width: 4px;
}

.title {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: -6px;
}

.content-div {
  display: flex;
  flex-direction: row;
}

.subtitle {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 9px;
  font-size: 25px;
}

.container {
  width: 754px;
  border: 8px;
  border: 1px solid gainsboro;;
  padding: 50px;
  margin: 20px;
  margin-left: 236px;
  margin-top: 100px;
  border-radius: 8px;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.content {
  width: 62%;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 191px;
}

.side-form {
  margin-left: 16px;
}

.initials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 1px;
  margin-left: 0px;
}

.f {
  @include titleShow;
  color: blue;
}

.u {
  @include titleShow;
  color: yellow;
}
.nt {
  @include titleShow;
  color: green;
}
.d {
  @include titleShow;
  color: red;
}
.o {
  @include titleShow;
  color: blue;
}
.oo {
  @include titleShow;
  color: yellow;
}
.n {
  @include titleShow;
  margin-left: 14px;
  color: green;
}
.ooo {
  @include titleShow;
  color: yellow;
}
.t {
  @include titleShow;
  color: red;
}

.e {
  @include titleShow;
  color: green;
}

.s {
  @include titleShow;
  color: blue;
}

.submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

.submitBtn {
  @include submitButton;
}

@media only screen and (max-width: 600px) {
  .title {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .subtitle {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 22px;
  }
  
  .initials {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .account {
    display: none;
  }
}