@import "../constants/variable.scss";
@import "../constants/mixins.scss";

body {
  font-family: arial,sans-serif;
}

.title {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -2%;
  margin-top: -4%;
}

.content-div {
  display: flex;
  flex-direction: row;
}

.subtitle {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -2%;
  margin-top: 1%;
  font-size: 25px;
}

.Container {
  width: 754px;
  border: 8px;
  border: 1px solid gainsboro;;
  padding: 50px;
  margin: 20px;
  margin-left: 236px;
  margin-top: 100px;
  border-radius: 8px;
}

.textField {
  min-width: 25%;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.textField3 {
  width: 90%;
}

.content {
  width: 62%;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 191px;
}

.text-field {
  border-color: lightgray;
  border-radius: 8px;
  border-width: 1px;
}

.nameArea {
  margin-left: 6%;
  width: 59%;
  border-color: blue;
}

.initials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 27px;
}

.outline-lastname {
  margin-bottom: 1rem;
  top: 253px;
  position: absolute;
  background-color: white;
  width: 77px;
  margin-left: 6px;
  display: none;
}

.outline-email {
  margin-bottom: 1rem;
  top: 341px;
  position: absolute;
  background-color: white;
  width: 42px;
  margin-left: 9px;
  display: none;
}

.outline-password {
  margin-bottom: 1rem;
    top: 428px;
    position: absolute;
    background-color: white;
    width: 71px;
    margin-left: 9px;
    display: none;
}

.outline-confirmpassword {
  margin-bottom: 1rem;
  top: 428px;
  position: absolute;
  background-color: white;
  width: 57px;
  margin-left: 9px;
  display: none;
}

.emailArea{
   width: 59%;
   margin-left: 0%;
   margin-top: 27px;
}

.f {
  @include titleShow;
  color: blue;
}

.u {
  @include titleShow;
  color: yellow;
}
.nt {
  @include titleShow;
  color: green;
}
.d {
  @include titleShow;
  color: red;
}
.o {
  @include titleShow;
  color: blue;
}
.oo {
  @include titleShow;
  color: yellow;
}
.n {
  @include titleShow;
  margin-left: 14px;
  color: green;
}
.ooo {
  @include titleShow;
  color: yellow;
}
.t {
  @include titleShow;
  color: red;
}

.e {
  @include titleShow;
  color: green;
}

.s {
  @include titleShow;
  color: blue;
}

.submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

.submitBtn {
  @include submitButton;
}

.account-form{
  padding-top: 1em;
}

.outline {
  margin-bottom: 1rem;
  top: 253px;
  position: absolute;
  background-color: white;
  width: 77px;
  margin-left: 6px;
  display: none;
}

@media only screen and (max-width: 600px) {
  .title {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .subtitle {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 22px;
  }
  .card {
    min-width: 20%;
    max-width: 99%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
  }

  .nameArea {
    margin-left: 0%;
    width: 100%;
  }
  .initials {
    display: flex;
    flex-direction: column;
  }

  .textField3 {
    width: 95%;
  }

  .textField {
    width: 95%;
  }

  .content {
    width: 100%;
  }

  .account {
    display: none;
  }

  
}